[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = git@github.com:tpope/vim-dispatch
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = git@github.com:xolox/vim-misc
[submodule "bundle/vundle"]
	path = bundle/vundle
	url = git@github.com:gmarik/vundle.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "bundle/AutoTag"]
	path = bundle/AutoTag
	url = git@github.com:vim-scripts/AutoTag
[submodule "bundle/Cpp11-Syntax-Support"]
	path = bundle/Cpp11-Syntax-Support
	url = git@github.com:vim-scripts/Cpp11-Syntax-Support
[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = git@github.com:vim-scripts/a.vim
[submodule "bundle/reload.vim"]
	path = bundle/reload.vim
	url = git@github.com:vim-scripts/reload.vim
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = git@github.com:vim-scripts/taglist.vim
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = git@github.com:wincent/Command-T
